<div
  class="articles-container"
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [fromRoot]="true"
  [infiniteScrollContainer]="'.articles-container'"
  *ngIf="screenSize$ | async as screen"
  #articlesContainer
>
  <div
    class="container"
    [ngClass]="{
      'container--medium': screen === sizes.Small || screen === sizes.Medium
    }"
  >
    <div
      class="container__selected-tag"
      [ngClass]="{
        'container__selected-tag--medium':
          screen === sizes.Medium || screen === sizes.Small,
        'container__selected-tag--small': screen === sizes.XSmall
      }"
      *ngIf="selectedTag"
    >
      <span
        appColors
        [baseColor]="selectedTag.color"
        [setBackgroundColor]="true"
        [customOpacityText]="1"
        [customOpacityBackground]="0.1"
        class="container__selected-tag__item"
      >
        {{ selectedTag.name }}
        <mat-icon fontIcon="close" (click)="removeSelectedTag()"></mat-icon>
      </span>
    </div>

    <ng-container *ngIf="newestArticle">
      <div
        class="container__newest-article"
        [ngClass]="{
          'container__newest-article--medium':
            screen === sizes.Small || screen === sizes.Medium
        }"
        (click)="getSelectedArticle(newestArticle.id)"
        *ngIf="screen !== sizes.XSmall; else mobile"
      >
        <img
          class="newest-article__image"
          [ngClass]="{
            'newest-article__image--medium':
              screen === sizes.Small || screen === sizes.Medium
          }"
          [src]="newestArticle.imageUrl"
        />
        <div
          class="newest-article__image__body"
          [ngClass]="{
            'newest-article__image__body--medium':
              screen === sizes.Small || screen === sizes.Medium
          }"
        >
          <span class="title body__title">
            {{ newestArticle.title }}
          </span>
          <span class="body body__date">{{
            newestArticle.created | date: 'longDate' : 'GMT+2'
          }}</span>
          <div class="body__tags">
            <span
              class="medium tags__item"
              appColors
              [baseColor]="tag.color"
              [customOpacityBackground]="0.8"
              [setBackgroundColor]="true"
              [skipFontColor]="true"
              *ngFor="let tag of newestArticle?.tags"
            >
              {{ tag.name }}
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <app-article-list
      [articles]="articles"
      (selectedArticle)="getSelectedArticle($event)"
      (emitGetArticlesByTag)="getAllArticlesBySelectedTagTrigger($event)"
      [screen]="screen"
      [isLastPage]="isLastPage"
    ></app-article-list>
    <div
      class="container__footer"
      [ngClass]="
        screen === sizes.XSmall
          ? 'small container__footer--mobile'
          : 'medium container__footer--medium'
      "
      *ngIf="isLastPage"
    >
      <span
        class="container__footer__text"
        [innerHTML]="'ARTICLES.FOOTER.MESSAGE' | translate"
      ></span>
    </div>
  </div>
</div>

<ng-template #mobile>
  <div class="article">
    <div
      (click)="getSelectedArticle(newestArticle?.id)"
      style="display: flex; flex-direction: column; gap: 4px"
    >
      <img class="article__image" [src]="newestArticle?.imageUrl" />
      <span class="small article__date">
        {{ newestArticle?.created | date: 'dd/MM/yyyy' }}</span
      >
      <span class="title-small article__title">
        {{ newestArticle?.title }}</span
      >
      <span class="small article__description">
        {{ newestArticle?.shortDescription }}</span
      >
    </div>
    <div class="article__body">
      <ng-container *ngFor="let tag of newestArticle?.tags">
        <span
          (click)="getArticlesByTag(tag)"
          appColors
          [baseColor]="tag.color"
          [setBackgroundColor]="true"
          [customOpacityText]="1"
          [customOpacityBackground]="0.1"
          class="small article__tag"
        >
          {{ tag.name }}
        </span>
      </ng-container>
    </div>
  </div>
</ng-template>
