<div
  class="container"
  [ngClass]="{
    'container--mobile': screen === sizes.XSmall,
    'container--medium': screen === sizes.Small || screen === sizes.Medium
  }"
  *ngIf="articles?.length"
>
  <div
    *ngFor="let article of articles"
    class="article"
    [ngClass]="{
      'article--mobile': screen === sizes.XSmall
    }"
  >
    <div
      (click)="selectArticle(article.id)"
      style="display: flex; flex-direction: column; gap: 4px"
    >
      <img class="article__image" [src]="article.imageUrl" />
      <span class="small article__date">
        {{ article.created | date: 'longDate' : 'GMT+2' }}</span
      >
      <span class="title-small article__title"> {{ article.title }}</span>
      <span class="small article__description">
        {{ article.shortDescription }}</span
      >
    </div>
    <div class="article__body">
      <ng-container *ngFor="let tag of article?.tags">
        <span
          appColors
          [baseColor]="tag.color"
          [setBackgroundColor]="true"
          [customOpacityText]="1"
          [customOpacityBackground]="0.1"
          class="small article__tag"
          (click)="getArticlesByTag(tag)"
        >
          {{ tag.name }}
        </span>
      </ng-container>
    </div>
  </div>
</div>

<!-- <div
  class="container__footer"
  [ngClass]="
    screen === sizes.XSmall
      ? 'small container__footer--mobile'
      : 'medium container__footer--medium'
  "
  *ngIf="isLastPage"
>
  <span [innerHTML]="'ARTICLES.FOOTER.MESSAGE' | translate"></span>
</div> -->
