<div class="base-container main-container">
  <span
    class="main-container__title"
    [ngClass]="
      screen === sizes.XSmall || screen === sizes.Small
        ? 'extra-large'
        : 'large-2x'
    "
    >{{ 'TOP_BAR.TITLE' | translate }}</span
  >
  <!-- <div class="main-container__menu">
    <div class="main-container__menu__container">
      <div
        *ngFor="let item of menu"
        class="container__item"
        (click)="onNavigate(item.path)"
      >
        <span class="title-small"> {{ item.name | translate }} </span>
      </div>
    </div>
    <app-button [text]="'TOP_BAR.SUBSCRIBE'"></app-button>
  </div> -->
</div>
