$lavenderBlushOpacity: rgb(255, 235, 238, 0.3);
$lavenderBlush: #ffebee;
$paleSilver: #ccb9bc;
$white: #ffffff;
$thistle: #e1bee7;
$magnolia: #fff1ff;
$glossyGrape: #af8eb5;
$lightCrimson: #f06292;
$blueGreyLightest: #90a4ae;
$blueGrey: #546e7a;
$blueGreyDarkest: #263238;
$dark: #212121;
