$lavenderBlushOpacity: rgb(255, 235, 238, 0.3);
$lavenderBlush: #f9f9fb;
$paleSilver: #ccb9bc;
$white: #ffffff;
$thistle: #e1bee7;
$magnolia: #fff1ff;
$glossyGrape: #af8eb5;
$lightCrimson: #f06292;
$blueGreyLightest: #90a4ae;
$blueGrey: #546e7a;
$blueGreyDarkest: #263238;
$dark: #212121;

$mainBackground: #f9f9fb;

$secondary-50: #f6f6f7;
$secondary-100: #e8e8ea;
$secondary-200: #dcdddf;
$secondary-400: #e8e8ea;
$secondary-500: #696a75;
$secondary-600: #3b3c4a;
$secondary-800: #e8e8ea;
$theme-primary: #4b6bfb;

$font: #1a1a1a;
$fontDate: #6941c6;
$fontDescription: #667085;
$scrollbar: #bbbbbb;
$footerBackground: #f8f8f8f6;
