@import './colors.scss';

.base-container {
  padding: 10px 25px;
}

.extra-small {
  font-size: 8px;
  // color: $blueGreyDarkest;
}

.extra-small-2x {
  font-size: 16px;
  // color: $blueGreyDarkest;
}

.small {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.small-2x {
  font-size: 24px;
  // color: $blueGreyDarkest;
}

.body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.medium {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.medium-l {
  font-size: 22px;
  // color: $blueGreyDarkest;
}

.large {
  font-size: 16px;
  // color: $blueGreyDarkest;
}

.extra-large {
  font-size: 18px;
  // color: $blueGreyDarkest;
  font-weight: 800;
  // text-shadow: 0.3px 0.3px $blueGreyLightest;
}

.large-2x {
  font-size: 32px;
  // color: $blueGreyDarkest;
  font-weight: 800;
  // text-shadow: 0.3px 0.3px $blueGreyLightest;
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.title-small {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.subscribe-message {
  @extend .medium;
  color: $font;
  text-decoration: solid;
  text-transform: capitalize;
  cursor: pointer;
}
